{{include file=Yaf\Application::app()->getConfig()->user->header_html}}
</head>
<body>

<div class="ok-body">
	<ul class="layui-tab-title">
		<li>
			<a href="/admin/User/user_info">修改个人信息</a>
		</li>
        <li class="layui-this">
            <a href="/admin/Setting/password">修改密码</a>
        </li>
	</ul>
	<!--form表单-->
	<div class="layui-tab-content" style="height: 100px;">
		<div class="layui-tab-item layui-show">
			<form class="layui-form ok-form" lay-filter="filter">


				<div class="layui-form-item">
					<label class="layui-form-label">原始密码</label>
					<div class="layui-input-block">
						<input type="password" name="old_password" placeholder="请输入密码" autocomplete="off" class="layui-input" lay-verify="required">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">新密码</label>
					<div class="layui-input-block">
						<input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input" lay-verify="required">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">重复新密码</label>
					<div class="layui-input-block">
						<input type="password" name="re_password" placeholder="请输入密码" autocomplete="off" class="layui-input" lay-verify="required">
					</div>
				</div>



				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="edit">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<script src="{{__STATIC__}}/lib/layui/layui.js"></script>
<script>


	layui.use(["form", "okLayer", "okUtils"], function () {
		let form = layui.form;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;
		okLoading.close();

		form.on("submit(edit)", function (data) {
			okUtils.ajax("/admin/setting/password_post", "post", data.field, true).done(function (response) {
				console.log(response);
				okLayer.greenTickMsg(response.msg, function () {
					parent.layer.close(parent.layer.getFrameIndex(window.name));
				});
			}).fail(function (error) {
				console.log(error)
			});
			return false;
		});
	})
</script>

</body>

</html>